@import url(./reset.css);

body {
    font-family: Raleway, sans-serif;
    background-color: #000;
    color: #fff;
}

h1, h2 {
    text-transform: uppercase;
}

footer {
    padding: 59px 38px;
    text-align: center;
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
}

footer a {
    font-weight: 900;
    color: #33A8DB;
    text-decoration: none;
}

.banner {
    text-align: center;
    background-image: url(./assets/images/banner.png);
    background-size: contain;
    border-bottom: 1px solid #31A8DD;

}

.banner-content {
    width: 516px;
    margin: 0 auto;
    padding: 50px 0 76px;
}

.banner-content h1{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 16px;

    /* Gradiente */
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 23px;
}

.banner-content button {
    width: 326px;
    padding: 19px 46px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 900;
    color: #31A8DD;
    text-transform: uppercase;
    background-color: transparent;
    border-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border: 1px solid;
}

.logo {
    margin-bottom: 43px;
}

#course-content {
    width: 792px;
    margin: 80px auto;
    text-align: center;
}

#course-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #33A8DB;
    margin: 24px 0;
}

#course-content p {
    line-height: 18px;
}

.module {
    width: 535px;
    background: #252525;
    margin: 24px auto;
    padding: 16px 0;
    border: 1px solid #33A8DB;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    border-radius: 25px;
}

.module span {
    color: #33A8DB;
}

#transform-world {
    background: url(./assets/images/woman-code.png) center/cover;
    padding: 80px 0;
    border-top: 2px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p {
    width: 244px;
    font-size: 40px;
    font-weight: 900;
    line-height: 46px;
    text-transform: lowercase;
    margin-left: 100px;
    padding: 50px 0;
    text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges {
    width: 746px;
    margin: 76px auto 91px;
    text-align: center;
}

#professional-challenges h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    color: #33A8DB;
    margin-bottom: 32px;
}

#professional-challenges img {
    margin-bottom: 40px;
}

#professional-challenges p {
    width: 792px;
    line-height: 18px;
}
